<html xmlns:th="http://www.thymeleaf.org">

<head th:include="layout :: head(title=~{::title},links=~{})">
  <title>View Personal Representatives</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>

<body th:include="layout :: body" th:with="content=~{::content}">
  <div th:fragment="content">
   
  <script th:inline="javascript">
      /* Otherwise Thymeleaf tries to parse Javascript as XML and breaks itself sometimes.  Sigh */
      /*<![CDATA[*/
      var app = angular.module("personalRepsApp", []);
      app.controller('personalRepsCtrl', function ($scope, $http) {
        
    	$scope.displayName = function(p) {
			return p.firstName + " " + p.lastName + " (" + p.self.username + ")";
		}
			
		// documentation on Angular filters: https://docs.angularjs.org/api/ng/filter/filter
		$scope.searchFilter = "";
		$scope.addFilter = "";
		$scope.filterPatients = function(patient) {
			return ($scope.displayName(patient)).toLowerCase().match($scope.searchFilter.toLowerCase());
		}
		
		$scope.filterAddPatients = function(patient) {
			return ($scope.displayName(patient)).toLowerCase().match($scope.addFilter.toLowerCase());
		} 
		
		$scope.patients = [];
		$scope.addPatients = [];
		$http.get("/iTrust2/api/v1/patients").then(
				function(response) {
					$scope.patients = response.data;
					$scope.addPatients = response.data;
					console.log("Patients:");
					console.log($scope.patients);
				}, function(rejection) {
					$scope.patients = [];
					$scope.errorMessage = "Could not get patients";	
				});
    	  
		
    	$scope.personalReps = [];
        $scope.represents = [];
        $scope.loadTable = function (username) {
          $scope.errorMessage = "";
        	$http.get("/iTrust2/api/v1/representatives/" + username).then(
            function (response) {
              $scope.personalReps = response.data;
              console.log("PersonalReps:");
              console.log($scope.personalReps);
              $scope.message = "";
            }, function (rejection) {
              $scope.personalReps = [];
              $scope.errorMessage = "Could not display personal representatives";
            });
          $http.get("/iTrust2/api/v1/patientsrepresented/" + username).then(
             function (response) {
              $scope.represents = response.data;
              console.log("Represents:");
              console.log($scope.represents);
              $scope.message = "";
            }, function (rejection) {
              $scope.represents = [];
              $scope.errorMessage = "Could not display who the patient represents";
            });
        }
        
        
        $scope.newUsernamePR = [];
        $scope.submitUsername = function(username) {
        	$http.get("/iTrust2/api/v1/patients/" + username).then(
 	   	        function (response) {
 	   	            $scope.newUsernamePR = response.data;
 	   	            console.log("Username PR:");
 	   	            console.log($scope.newUsernamePR);
 	   	            $scope.message = "";
 	   	     }, function (rejection) {
 	   	            $scope.newUsernamePR = [];
 	   	            $scope.errorMessage = "Could not the patient with username: " + username;
 	   	     });
		}
        
        $scope.submitName = function() {
        	if($scope.selectedPatient === $scope.newUsernamePR.self.username) {
        		$scope.errorMessage = "A patient cannot represent themselves.";
        	} else {
        	
	        	$http({
					method : 'PUT',
					url : '/iTrust2/api/v1/addrep/' + $scope.selectedPatient + '/' + $scope.newUsernamePR.firstName + '/' + $scope.newUsernamePR.lastName,
					data : $scope.selectedPatient
				}).then(function(response) {
					$scope.message = "Patient's personal representative updated successfully.";
					console.log(response);
					
					$scope.loadTable($scope.selectedPatient);
					
				}, function(rejection) {
					console.log(rejection);
					if (rejection.data.msg) {
						$scope.errorMessage = "Error: " + rejection.data.msg;
					} else {
						$scope.errorMessage = "An error occured updating the personal representative.";
					}
				})
        	}
		}
        
        
        
      });
			/*]]>*/
    </script>

    <div ng-app="personalRepsApp" ng-controller="personalRepsCtrl">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3>HCP View Personal Representatives</h3>
              </div>
              <div class="panel-body">
              
             
            <div style="float:left;width:35%;height:35%;overflow-y:auto">
			<!-- info on filtering taken from here: https://www.w3schools.com/angular/angular_filters.asp
				and https://docs.angularjs.org/api/ng/filter/filter -->
			<h4>Search For Patients: <input type="text" name="search" ng-model="searchFilter"/></h4>
			<!-- Info on scrolling taken from here: https://www.w3schools.com/cssref/pr_pos_overflow.asp -->
			<!-- and here: https://stackoverflow.com/questions/9560330/how-to-hide-a-vertical-scroll-bar-when-not-needed -->
			<ul style="overflow:auto;height=90%;">
			<!-- Information on how labels wor from here: https://stackoverflow.com/questions/7863251/clicking-the-text-to-select-corresponding-radio-button -->
							<li ng-repeat="patient in patients | filter:filterPatients"><h4><label>
									<input type="radio" ng-model="$parent.selectedPatient"
									name="patient" value="{{patient.self.username}}"
									ng-click="$parent.loadTable($parent.selectedPatient)" />&nbsp;{{$parent.displayName(patient)}}</label>
							</h4></li>
						</ul>
			</div>
			
                
                <table class="table table-bordered">
                  <caption>Selected Patient's Personal Representatives:</caption>
                  <thead>
                    <tr>
                      <th>Personal Representative</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr name="personalRepTableRow" ng-repeat="r in personalReps">
                      <td name="personalRepCell">{{$parent.displayName(r) || 'None'}}</td>
                    </tr>
                  </tbody>
                </table>
                
                <table class="table table-bordered">
                  <caption>Patient's the selected patient represents:</caption>
                  <thead>
                    <tr>
                      <th>Patients Represented</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr name="representsTableRow" ng-repeat="p in represents">
                      <td name="representsCell">{{$parent.displayName(p) || 'None'}}</td>
                    </tr>
                  </tbody>
                </table>
                
                <form>
 		 			<div style="float:left;width:35%;height:35%;overflow-y:auto">
					<!-- info on filtering taken from here: https://www.w3schools.com/angular/angular_filters.asp
					and https://docs.angularjs.org/api/ng/filter/filter -->
					<h4>Add PR by Name or MID: <input type="text" name="add" ng-model="addFilter"/></h4>
					<!-- Info on scrolling taken from here: https://www.w3schools.com/cssref/pr_pos_overflow.asp -->
					<!-- and here: https://stackoverflow.com/questions/9560330/how-to-hide-a-vertical-scroll-bar-when-not-needed -->
					<ul style="overflow:auto;height=90%;">
					<!-- Information on how labels wor from here: https://stackoverflow.com/questions/7863251/clicking-the-text-to-select-corresponding-radio-button -->
							<li ng-repeat="patient in addPatients | filter:filterAddPatients"><h4><label>
									<input type="radio" ng-model="addUsername"
									name="patient" value="{{patient.self.username}}"
									ng-click="submitUsername(addUsername)" />&nbsp;{{$parent.displayName(patient)}}</label>
							</h4></li>
					</ul>
					<button ng-click="submitName()" name="submit" class="btn btn-success">Submit New PR</button>
					</div>
				</form>
				<div name="success" class="text-success">
                        {{message}}
                </div>
 		 		<div name="errorMsg" class="text-danger">
                        {{errorMessage}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>